.gridImage {
  height: 200px;
  width: 200px;
}

.gridContainer {
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minMax(100px, auto);
}

.grid-item {
  height: 450px;
  width: 400px;
  border: black solid;
}
